-# %h2 Log in
-# = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
-#   .field
-#     = f.label :email
-#     %br/
-#     = f.email_field :email, autofocus: true, autocomplete: "email"
-#   .field
-#     = f.label :password
-#     %br/
-#     = f.password_field :password, autocomplete: "current-password"

-#   .actions
-#     = f.submit "ログイン"

.session-new-main
  .session-new-cover
    .login-form
      .login-form-content
        .login-form-title
          %h2 Login
        .login-form-main
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .login-form-main-mail
              .login-form-main-mail-form
                = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "yourname@example.com"

            .login-form-main-password
              .login-form-main-password-form
                = f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: "password"

            - if devise_mapping.rememberable?
              .login-form-main-remember
                .login-form-main-remember-checkbox
                  .form-check.mb-2
                    = f.check_box :remember_me, class: 'form-check-input'
                    = f.label :remember_me, class: 'form-check-label'

            .login-form-main-action
              = f.submit "ログイン", class: 'form-control btn btn-secondary'
