.edit-log
  .edit-form.text-center
    = form_with(model: @log, url: user_log_update_path, local: true) do |f|
      .time-edit.mb-3
        - if @link_type == 'time_in'
          .form-group.mb-3
            %label.mb-4 出勤
            = f.time_select :time_in, {}, class: 'form-control'
        - elsif @link_type == 'time_out'
          .form-group.mb-3
            %label.mb-4 退勤
            = f.time_select :time_out, {}, class: 'form-control'
        - else @link_type == 'rest_time'
          .form-group.mb-3
            %label.mb-4 休憩
            = f.select :rest_time, ['00:00', '00:15', '00:30', '00:45', '01:00'], {}, class: 'form-control form-control-inline'
      .edit-button.actions
        = f.submit '変更する', class: 'btn btn-secondary'
