= form_with(model: @log, url: user_log_update_path, local: true) do |f|
  - if @link_type == 'time_in'
    .form-group.mb-3
      %label 出勤
      = f.time_select :time_in, {}, class: ''
  - elsif @link_type == 'time_out'
    .form-group.mb-3
      %label 退勤
      = f.time_select :time_out, {}, class: ''
  - else @link_type == 'rest_time'
    .form-group.mb-3
      %label 休憩
      = f.select :rest_time, ['00:00', '00:15', '00:30', '00:45', '01:00']
  .actions
    = f.submit '変更する', class: 'btn btn-primary'
