%table.table.table-bordered
  %thead.thead-light
    %tr
      %th 日付
      %th 出勤
      %th 退勤
      %th 休憩(h)
      %th 勤務時間
      %th 操作１
    - @logs.each do |log|
      %tr
        %td= l log.day, format: :day
        %td= l log.time_in, format: :time_only
        %td= l log.time_out, format: :time_only if log.time_out
        %td= log.rest_time
        %td= working_times(log) if log.time_out && log.rest_time
        %td= link_to '編集', user_logs_edit_path